<div class="p-relative" style="max-width: 370px; flex-grow: 1; height: 100%">
  <div
    class="image as-layer"
    style="background-image: url('{{ image }}')"
  ></div>
  <div class="as-layer {{ bgColor }}" style="opacity: {{opacity}}"></div>
  <div class="__post-card-layout">
    <div>
      <h4 class="title {{ color }}">#{{ category }}</h4>
      <h3 class="title ellipsis-3 {{ color }}">
        <slot id="title"></slot>
      </h3>
    </div>
    <p class="text ellipsis-4 {{ color }}" style="opacity: 0.9">
      <slot id="description"></slot>
    </p>

    <div class="__post-card-chips mt-30">
      {{#each chips}}
      <div class="__post-card-chip bg-secondary" style="opacity: 0.8">
        <p class="text">{{ this }}</p>
      </div>
      {{/each}}
    </div>
  </div>
</div>
