
.__post-card-layout {
  position: relative;
  padding: 25px;
  display: grid;
  grid-template-rows: auto 1fr auto;
  height: 100%;
}

.__post-card-chips {
  overflow: auto;
  display: flex;
  gap: 10px;
  scrollbar-color: transparent transparent;
  scrollbar-width: thin;
}

.__blog-content-card-chips-shadow {
  height: 100%;
  /*box-shadow: 0 0 12px 14px var(--primary-color);*/
  z-index: 2;
}

.__post-card-chip {
  padding: 5px 7px;
  background-color: var(--accent-color);
  color: var(--primary-color);
  font-size: 0.8em;
  font-weight: bold;
}
