
.__hero-image {
  background-size: cover;
  background-position: center center;
  z-index: 2;
}

.__hero-color-cover {
  opacity: 0.7;
  z-index: 2;
}

.for-desktop *.__hero-logo {
  height: 150px;
  width: 200px;
  margin: 35px 55px;
}

.for-mobile *.__hero-logo {
  height: 100px;
  width: 150px;
  margin: 5px 15px;
  /*margin: 0 auto;
  position: relative;
  top: 25px;*/
}

.__hero-content {
  display: grid;
  grid-template-rows: auto 1fr;
  z-index: 2;
}

.for-desktop *.__hero-content-wrapper {
  display: flex;
  flex-direction: column;
  gap: 70px;
  justify-content: center;
  position: relative;
  top: -20%;
}

.for-mobile *.__hero-content-wrapper {
  display: flex;
  flex-direction: column;
  gap: 150px;
  justify-content: center;
  position: relative;
  top: 0%;
  padding: 20px;
}

.for-mobile *.__hero-title {
  font-size: 3em;
  margin-bottom: -2px;
}

.for-desktop *.__hero-title-detail {
  color: transparent;
  -webkit-text-stroke-width: 3px;
  -webkit-text-stroke-color: var(--secondary-color);
}

.for-mobile *.__hero-title-detail {
  color: transparent;
  -webkit-text-stroke-width: 2px;
  -webkit-text-stroke-color: var(--secondary-color);
}

.for-desktop *.__hero-subtitle {
  font-family: var(--primary-font);
  font-size: 2.6em;
  font-weight: 700;
  letter-spacing: 6px;
  margin-left: 10px;
  opacity: 0.8;
}

.for-mobile *.__hero-subtitle {
  font-family: var(--primary-font);
  font-size: 1.6em;
  font-weight: 700;
  letter-spacing: 3px;
  margin-left: 8px;
  opacity: 0.8;
}