<div
  class="__hero-image p-absolute full-screen clip-diagonal-ltr-85"
  style="background-image: url('{{backgroundImage}}')"
></div>
<div
  class="__hero-color-cover p-absolute full-screen bg-primary clip-diagonal-ltr-85"
></div>

<div class="for-desktop">
  <div class="__hero-content p-absolute full-screen">
    <div
      class="__hero-logo img-contain"
      style="background-image: url('{{logoImage}}')"
    ></div>
    <div class="__hero-content-wrapper">
      <div>
        <h1 class="title txt-algn-c c-secondary">{{{title}}}</h1>
        <h2 class="__hero-subtitle cntr uppr c-secondary">{{ subtitle }}</h2>
      </div>
      <a
        href="{{action_button.link}}"
        style="align-self: center"
        class="btn btn-accent"
        >{{{action_button.text}}}</a
      >
    </div>
  </div>
</div>

<div class="for-mobile">
  <div class="__hero-content p-absolute full-screen">
    <div
      class="__hero-logo img-contain"
      style="background-image: url('{{logoImage}}')"
    ></div>

    <div class="__hero-content-wrapper">
      <div>
        <h1 class="__hero-title __hero-title-detail title txt-algn-c">
          Trabajando
        </h1>
        <h1
          class="__hero-title title txt-algn-c c-secondary"
          style="font-size: 5.1em; position: relative; margin-left: -8px"
        >
          Juntos
        </h1>
        <h2 class="__hero-subtitle cntr uppr c-secondary mt-20">
          {{ subtitle }}
        </h2>
      </div>
      <a
        href="{{action_button.link}}"
        style="align-self: center"
        class="btn btn-accent"
        >{{{action_button.text}}}</a
      >
    </div>
  </div>
</div>
