.__footer-wrapper {
  background-color: rgb(35, 35, 35);
}

.__footer-layout {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 80px;
}

.__footer-logo {
  min-height: 115px;
  width: 220px;
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
  opacity: 0.6;
}

.__footer-sitemap {
  display: flex;
  flex-wrap: wrap;
  gap: 60px;
  opacity: 0.7;
}

.__footer-sitemap-column {
  display: flex;
  flex-direction: column;
  gap: 15px;
  width: 1/3;
}

.__footer-sitemap-item {
  display: grid;
  grid-template-columns: 15px auto;
  align-items: center;
  gap: 10px;
}

.__footer-sitemap-item > i {
  font-size: 0.8em;
  justify-self: center;
  opacity: 0.65;
}

.__footer-social {
  display: flex;
  gap: 60px;
  align-content: center;
  justify-content: center;
  flex-wrap: wrap;
  padding: 30px;
}

.__footer-social-item {
  display: grid;
  grid-template-columns: 30px 1fr;
  gap: 10px;
  align-items: center;
  text-decoration: none;
}

.__footer-social-item > i {
  font-size: 2em;
  justify-self: center;
}

.__footer-social-item > p {
  font-size: 1.3em;
}

@media screen and (max-width: 600px) {
  .__footer-social {
    gap: 30px;
  }
}
