<div class="__footer-wrapper">
  <div style="padding: 40px">
    <div class="__footer-layout">
      <div
        class="__footer-logo"
        style="background-image: url('{{logo}}');"
      ></div>
      <div class="__footer-sitemap">
        {{#each links}}
        <div class="__footer-sitemap-column">
          {{#each this}} {{#if this.isTitle}}
          <h5 class="c-secondary title">{{{ this.name }}}</h5>
          {{/if}} {{#if this.isItem}}
          <a
            href="{{this.link}}"
            class="__footer-sitemap-item c-secondary"
            style="text-decoration: none"
          >
            <i class="{{ this.icon }}"></i>
            <p class="text undrln">{{{ this.name }}}</p>
          </a>
          {{/if}} {{/each}}
        </div>
        {{/each}}
      </div>
    </div>
    <div class="__footer-social mt-40">
      {{#each social}}
      <a
        href="{{this.link}}"
        target="_blank"
        class="__footer-social-item c-secondary"
      >
        <i class="{{ this.icon }}"></i>
        <p class="text">{{{ this.name }}}</p>
      </a>
      {{/each}}
    </div>
    <p class="text cntr c-secondary">© {{year}} {{{ copy_right }}}</p>
  </div>
</div>
