<div class="__services-wrapper bg-primary clip-diagonal-rtl-85">
  <div>
    <h2 class="title c-secondary txt-algn-c">{{{ title }}}</h2>
    <p class="subtitle c-secondary txt-algn-c m-auto" style="max-width: 600px">
      {{{ subtitle }}}
    </p>
  </div>
  <div class="__services-card-container">
    {{#each primaryServices}}
    <a
      href="{{ this.link }}"
      class="card card-md bg-secondary"
      style="text-decoration: none"
    >
      <i class="card-icon c-primary {{ this.icon }}"></i>
      <h3 class="title c-primary txt-algn-c">{{{ this.name }}}</h3>
      <div class="card-content">
        {{#each this.content}}
        <div class="card-content-item">
          <i class="c-primary fa-solid fa-check"></i>
          <p class="text uppr bld c-primary">{{{ this }}}</p>
        </div>
        {{/each}}
      </div>
    </a>
    {{/each}}
  </div>

  <div class="__services-card-container">
    {{#each secondaryServices}}
    <a
      href="{{ this.link }}"
      class="card card-sm bg-secondary"
      style="text-decoration: none"
    >
      <i class="card-icon c-primary {{ this.icon }}"></i>
      <h4 class="title cntr c-primary" style="font-size: 0.85em !important">
        {{{ this.name }}}
      </h4>
    </a>
    {{/each}}
  </div>

  <a href="{{action_button.link}}" class="btn btn-accent m-auto mt-25"
    >{{{ action_button.text }}}</a
  >
  <!-- empty slot for add gap -->
  <span></span>
</div>
