
.__services-wrapper {
  display: grid;
  gap: 80px;
  padding: 40px;
}

.__services-card-container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  gap: 60px;
}

@media (max-width:680px)  {
  .__services-wrapper {
    gap: 30px;
    padding: 25px;
    padding-top: 40px;
  }

  .__services-card-container {
    gap: 30px;
    row-gap: 35px;
    font-size: 1em;
  }
}

/* ---------------------------
CARDS
--------------------------- */
.card {
  display: grid;
  grid-auto-rows: auto;;
  justify-items: center;
  align-items: center;
  box-shadow: 0px 6px 30px -5px rgb(15, 15, 15);
}

@media screen and (max-width: 600px) {
  .card-md {
    padding: 30px !important;
    width: 100% !important;
    max-width: 350px !important;
  }

  .card-md > .card-content {
    gap: 20px !important;
    padding: 15px 0px !important;
  }

  .card-sm {
    width: 100% !important;
    max-width: 160px !important;
    padding: 25px !important;
  }

  .card-sm > .card-icon {
    font-size: 2em !important;
  }
}

.card-md {
  width: 350px;
  padding: 40px;
  gap: 25px;
}

.card-sm {
  width: 245px;
  padding: 40px;
  gap: 25px;
}

.card-md > .card-icon {
  font-size: 5.5em;
}

.card-sm > .card-icon {
  font-size: 4.5em;
}

.card-md > .card-content {
  display: grid;
  gap: 30px;
  padding: 25px 0px;
}

.card-content-item {
  display: grid;
  gap: 7px;
  grid-template-columns: auto 1fr;
  align-items: center; 
  font-size: 0.90em;
}

.card-md > .card-content > .card-content-item > i {
  font-size: 12px;
}

.card-sm > .card-content > .card-content-item > i {
  font-size: 12px;
}
