<div class="page-container">
  <h2 class="title cntr c-primary">{{{ title }}}</h2>
  <div class="for-desktop">
    <p class="subtitle cntr c-primary">{{{ subtitle }}}</p>
  </div>
  <div class="for-mobile">
    <p class="subtitle cntr c-primary m-auto" style="max-width: 300px">
      {{{ subtitle }}}
    </p>
  </div>
  <br />
  <br />
  <br />
  <br />
  <div class="__guarantees-container">
    {{#each items}}
    <div class="__guarantees-item">
      <i
        class="card-icon c-primary {{ this.icon }}"
        style="font-size: 3.5em"
      ></i>
      <h4 class="title cntr c-primary">{{{ this.title }}}</h4>
    </div>
    {{/each}}
  </div>
</div>
