.__guarantees-item {
  width: 180px;
  display: flex;
  flex-direction: column;
  gap: 20px;
  align-items: center;
} 

.__guarantees-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 60px
}