<navbar></navbar>

<!-- HERO -->
<div class="__blog-gallery-hero bg-accent clip-diagonal-ltr-85">
  <div>
    <h2 class="title c-primary cntr">{{{ title }}}</h2>
    <p class="subtitle cntr c-primary m-auto" style="max-width: 650px">
      {{{ subtitle }}}
    </p>
  </div>
</div>
<div class="page-container __blog-gallery-layout">
  <!-- SEARCH BAR -->
  <div class="__blog-gallery-search-bar-layout">
    <div class="__blog-gallery-search-bar">
      <i class="fa-solid fa-magnifying-glass c-primary"></i>
      <input
        id="search-posts"
        class="c-primary bld f-secondary"
        type="text"
        placeholder="{{ content.search_placeholder }}"
      />
      <a id="search-link" class="btn btn-sm btn-primary">Buscar</a>
    </div>
  </div>

  <!-- SEARCH FILTERS -->
  <div class="__blog-gallery-filters m-auto">
    {{#each chips}} {{#if this.active}}
    <a
      href="{{this.link}}"
      class="text c-primary bg-accent __blog-gallery-filter __blog-gallery-filter-inactive"
    >
      {{{ this.name }}}
    </a>
    {{/if}} {{#unless this.active}}
    <a
      href="{{this.link}}"
      class="text c-primary __blog-gallery-filter __blog-gallery-filter-inactive"
    >
      {{{ this.name }}}
    </a>
    {{/unless}} {{/each}}
  </div>
  <!-- empty slot for add space -->
  <span></span>
  <!-- POSTS -->
  <div class="__blog-content-posts m-auto">
    {{#each posts}}
    <a href="{{this.url}}" style="text-decoration: none">
      <post_card
        image="{{ this.image }}"
        area="{{ this.area }}"
        category="{{ this.category }}"
        chips="{{ this.tags }}"
        size="{{ this.size }}"
        theme="{{ this.theme }}"
      >
        <slot for="title">{{{this.title}}}</slot>
        <slot for="description">{{{this.description}}}</slot>
      </post_card>
    </a>
    {{/each}}
  </div>

  <!-- PAGER -->
  <div class="__blog-content-pager">
    <i class="fa-solid fa-arrow-left c-primary"></i>
    <div class="__blog-content-pages m-auto">
      {{#each pager}} {{#if this.active}}
      <div class="__blog-content-tile bg-accent">
        <p class="text c-primary">{{this.number}}</p>
      </div>
      {{/if}} {{#unless this.active}}
      <div class="__blog-content-tile">
        <a
          href="{{this.link}}"
          class="text c-primary"
          style="text-decoration: none"
          >{{this.number}}</a
        >
      </div>
      {{/unless}} {{/each}}
    </div>
    <i class="fa-solid fa-arrow-right c-primary"></i>
  </div>
</div>

<!-- FOOTER -->
<footer></footer>
