
.__blog-gallery-hero {
  display: grid;
  align-items: center;
  height: 280px;
}

.__blog-gallery-layout {
  display: grid;
  gap: 30px;
}

/* ---------------------
- SEARCH BAR
--------------------- */
.__blog-gallery-search-bar-layout {
  display: flex;
  justify-content: center;
}

.__blog-gallery-search-bar {
  background-color: rgba(255, 255, 255, 0.937);
  display: grid;
  grid-template-columns: 30px 1fr auto; 
  justify-content: center;
  align-items: center;
  max-width: 650px;
  width: 100%;
  gap: 10px;
  padding: 7px;
  margin: 0px 20px;
  border-bottom: 2px solid var(--primary-color);
}

.__blog-gallery-search-bar > i {
  font-size: 1.4em;
  padding: 5px;
}

.__blog-gallery-search-bar > input {
  background-color: transparent;
  border: none;
  padding: 7px;
  font-size: 1.2em;
  font-weight: bold;
  width: 100%;
}

/* ---------------------
- SEARCH FILTERS
--------------------- */
.__blog-gallery-filters {
  max-width: 800px;
  display: flex;
  gap: 10px;
  flex-wrap: wrap;
  justify-content: center;
}

.__blog-gallery-filter {
  padding: 7px 14px;
  background-color: rgb(216, 216, 216);
  font-size: 1.05em !important;
  text-transform: uppercase;
  font-weight: bold;
  text-decoration: none;
}

/* ---------------------
- POSTS
--------------------- */

.__blog-content-posts {
  display: flex;
  gap: 20px;
  flex-wrap: wrap;
  justify-content: center;
}

/* ---------------------
- PAGER
--------------------- */
.__blog-content-pager {
  display: grid;
  grid-template-columns: auto 1fr auto;
  align-items: center;
  padding: 15px;
  position: sticky;
  bottom: 0px;
  background-color: rgba(255, 255, 255, 0.769);
  z-index: 2;
}

.__blog-content-pager > i {
  font-size: 1.5em;
}

.__blog-content-pages {
  display: flex;
  gap: 15px;
  font-size: 1.3em;
}

.__blog-content-tile {
  height: 35px;
  width: 35px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: var(--primary-color);
  border-bottom: 2px solid var(--primary-color);
}