.__accrd-layout {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  gap: 60px;
}

.__accrd-title-container {
  max-width: 550px;
}

.__accrd-container {
  display: grid;
  gap: 40px;
}

.__accrd-card {
  display: grid;
  grid-template-columns: 70px 1fr;
  align-items: center;
  gap: 20px;
}

.__accrd-card-icon {
  font-size: 3.5em;
  justify-self: center;
}

