<div class="__accrd-layout page-container">
  <div class="__accrd-title-container">
    <h2 class="title c-primary">{{{ title }}}</h2>
    <p class="subtitle c-primary">{{{ subtitle }}}</p>
  </div>
  <div class="__accrd-container">
    {{#each items}}
    <div class="__accrd-card">
      <i class="__accrd-card-icon c-primary  {{ this.icon }}"></i>
      <div>
        <p class="simple-title c-primary">{{{ this.title }}}</p>
        {{#each this.links}}
        <div class="mt-5">
          <a
            href="{{this.link}}"
            target="_blank"
            rel="noopener noreferrer"
            class="text c-primary undrln"
            >{{{ this.name }}}</a
          >
        </div>
        {{/each}}
      </div>
    </div>
    {{/each}}
  </div>
</div>
