<div class="__navbar-background"></div>
<div class="for-desktop">
  <div
    class="__navbar-logo"
    style="background-image: url('{{logoPath}}')"
  ></div>
</div>

<div class="for-mobile">
  <div
    class="__navbar-logo"
    style="background-image: url('{{logoPath}}')"
  ></div>
</div>

<div class="for-desktop">
  <div class="__navbar-menu">
    {{#each menu}}
    <a href="{{ this.link }}" class="c-secondary">{{{ this.name }}}</a>
    {{/each}}
  </div>
</div>

<div class="for-mobile">
  <div class="__navbar-menu-mobile">
    <i
      id="mobile-menu-open"
      class="fa-solid fa-bars c-secondary"
      style="font-size: 1.6em"
    ></i>
  </div>
</div>
<a
  href="{{homeLink}}"
  class="for-desktop"
  style="
    position: fixed;
    z-index: 3;
    top: 0;
    left: 50px;
    height: 55px;
    width: 80px;
  "
></a>

<a
  href="{{homeLink}}"
  class="for-mobile"
  style="
    position: fixed;
    z-index: 3;
    top: 5px;
    left: 15px;
    height: 55px;
    width: 80px;
  "
></a>

<div class="for-mobile">
  <div id="mobile-menu" style="top: -100%">
    <div style="display: grid; grid-template-columns: 1fr auto">
      <div></div>
      <i
        id="mobile-menu-close"
        class="fa-solid fa-times"
        class="c-primary"
        style="font-size: 1.4em"
      ></i>
    </div>
    {{#each menu}}
    <a
      href="{{ this.link }}"
      class="c-primary uppr click-link"
      style="text-decoration: none"
      >{{{ this.name }}}</a
    >
    {{/each}}
  </div>
</div>
