
.__navbar-menu {
  position: fixed;
  top: 0;
  z-index: 3;
  display: flex;
  justify-content: flex-end;
  width: 100%;
  gap: 19px;
  padding: 18px;
}

.__navbar-menu-mobile {
  position: fixed;
  top: 0;
  z-index: 3;
  display: flex;
  justify-content: flex-end;
  padding: 18px;
  width: 100%;
}

.__navbar-menu > a {
  text-transform: uppercase;
  text-decoration: none;
  font-family: var(--primary-font);
  font-size: 1.1em;
  font-weight: 900;
}

.__navbar-background {
  position: fixed;
  z-index: 2;
  top: -8px;
  height: 65px;
  width: 100%;
  box-shadow: 0px 0px 60px 40px var(--primary-color);
  opacity: 0.9;
  background-color: transparent;
  margin-top: -60px;
}

.for-desktop *.__navbar-logo {
  position: fixed;
  z-index: 2;
  top: 0px;
  left: 50px;
  height: 55px;
  width: 80px;
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
}

.for-mobile *.__navbar-logo {
  position: fixed;
  z-index: 2;
  top: 5px;
  left: 15px;
  height: 55px;
  width: 80px;
  
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
}

#mobile-menu {
  transition: 0.6s ease;
  position: fixed;
  width: 100%;
  height: 100%;
  background-color: white;
  z-index: 5;
  display: flex;
  flex-direction: column;
  gap: 35px;
  font-family: var(--primary-font);
  font-size: 1.7em;
  font-weight: 900;
  padding: 35px;
}