<div class="bg-accent clip-diagonal-ltr-85">
  <div class="__blog-layout page-container m-auto">
    <div>
      <h2 class="title cntr c-primary mt-25">{{{ title }}}</h2>
      <p class="subtitle cntr c-primary m-auto" style="max-width: 600px">
        {{{ subtitle }}}
      </p>
    </div>
    <div class="__blog-content">
      {{#each posts}}
      <div style="width: 320px">
        <a href="{{this.url}}" style="text-decoration: none">
          <post_card
            opacity="1"
            theme="blue"
            category="{{this.category}}"
            chips="{{this.tags}}"
          >
            <slot for="title">{{{this.title}}}</slot>
            <slot for="description">{{{this.description}}}</slot>
          </post_card>
        </a>
      </div>
      {{/each}}
      <a
        href="{{action_button.link}}"
        class="btn btn-secondary"
        style="align-self: center"
        >{{{action_button.text}}}</a
      >
    </div>
    <!-- empty slot for space -->
    <span></span>
  </div>
</div>
