
.__blog-layout {
  display: grid;
  gap: 60px;
  padding: 40px;
}

.__blog-content {
  display: flex;
  flex-wrap: wrap;
  gap: 40px;
  justify-content: center;
}

.__blog-post {
  width: 300px;
  display: grid;
  gap: 10px;
  padding: 40px;
  box-shadow: 0px 6px 30px -5px rgb(15, 15, 15);
}
