.for-desktop .__facilities-layout {
  display: grid;
  grid-template-columns: 1fr 1fr;
  align-items: center;
  gap: 80px;
  
}

.for-mobile .__facilities-layout {
  display: grid;
  justify-content: center;
  gap: 60px;
}

.__facilities-container {
  display: flex;
  flex-direction: column;
  gap: 15px;
}

.__facilities-item {
  display: grid;
  grid-template-columns: auto 1fr;
  align-items: center;
  gap: 15px;
}

.__facilities-check-circle {
  width: 25px;
  height: 25px;
  border-radius: 50%;
  background-color: var(--accent-color);
  display: grid;
  place-items: center;
  font-size: 1em;
}