<div
  class="clip-top-diagonal"
  style="background-color: #feefd0; margin-bottom: -60px"
>
  <div class="my-45">
    <div class="for-desktop">
      <div class="__facilities-layout page-container">
        <div>
          <h2 class="title c-primary rght">{{{ title }}}</h2>
          <p class="subtitle c-primary rght">{{{ subtitle }}}</p>
        </div>
        <div class="__facilities-container">
          {{#each facilities}}
          <div class="__facilities-item">
            <div class="__facilities-check-circle">
              <i class="fa-solid fa-check"></i>
            </div>
            <p class="text c-primary bld">{{{ this.title }}}</p>
          </div>
          {{/each}}
        </div>
      </div>
    </div>
    <div class="for-mobile">
      <div class="__facilities-layout page-container">
        <div>
          <h2 class="title c-primary cntr">{{{ title }}}</h2>
          <p class="subtitle c-primary cntr">{{{ subtitle }}}</p>
        </div>
        <div class="__facilities-container">
          {{#each facilities}}
          <div class="__facilities-item">
            <div class="__facilities-check-circle">
              <i class="fa-solid fa-check"></i>
            </div>
            <p class="text c-primary bld">{{{ this.title }}}</p>
          </div>
          {{/each}}
        </div>
      </div>
    </div>
    <br />
    <br />
    <br />
  </div>
</div>
