<div
  class="p-relative"
  style="height: {{ height }}; font-size: {{ font_size }}"
>
  <div
    class="image as-layer clip-diagonal-rtl-85"
    style="background-image: url('{{ image_src }}')"
  ></div>
  <div
    class="{{ bg }} as-layer clip-diagonal-rtl-85"
    style="opacity: {{ opacity }}"
  ></div>
  <div
    class="page-container p-relative"
    style="display: grid; align-items: center; height: 100%"
  >
    <div style="margin-top: -50px">
      <h1 class="__basic-hero-title title {{ c }} cntr mt-50">
        <slot id="title"></slot>
      </h1>
      <p class="simple-title {{ c }} cntr m-auto" style="max-width: 600px">
        <slot id="subtitle"></slot>
      </p>
    </div>
  </div>
</div>
