<navbar></navbar>

<basic_hero
  image_src="{{image}}"
  height="300px"
  font_size="0.65em"
  theme="{{theme}}"
>
  <slot for="title">{{{title}}}</slot>
</basic_hero>

<div class="small-page-container">
  <div class="__post-layout">
    <!-- POST CONTENT -->
    <div class="__post-container">
      <div class="__post-author mb-25">
        <div
          class="image __post-author-image"
          style="background-image: url('{{author.avatar}}')"
        ></div>
        <div>
          <p class="subtitle __post-author-name">{{{author.name}}}</p>
          <p class="text __post-author-date" style="opacity: 0.7">
            {{{publish_date}}}
          </p>
        </div>
      </div>
      <h3 class="title">{{{description}}}</h3>
      {{{content}}}
    </div>

    <!-- INTER LINKING -->
    <div class="__post-links" style="font-size: 0.7em">
      <h2 class="title" style="opacity: 0.7">Recomendado</h2>
      {{#each posts}}
      <a href="{{this.url}}" style="text-decoration: none">
        <post_card
          size="small"
          image="{{ this.image }}"
          area="{{ this.area }}"
          category="{{ this.category }}"
          chips="{{ this.tags }}"
          size="{{ this.size }}"
          theme="{{ this.theme }}"
        >
          <slot for="title">{{{this.title}}}</slot>
          <slot for="description">{{{this.description}}}</slot>
        </post_card>
      </a>
      {{/each}}
    </div>
  </div>
</div>
<footer></footer>
