.__post-layout {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
}

.__post-container {
  max-width: 600px;
}

.__post-container > p {
  margin-bottom: 25px;
  font-size: 1.25em;
  line-height: 25px;
}

.__list > li {
  list-style: disc;
  margin-left: 25px;
}

.__list > li > p {
  margin-bottom: 15px;
  font-size: 1.25em;
  line-height: 25px;
}

.__post-links {
  position: sticky;
  top: 60px;
  flex-grow: 1;
  display: flex;
  gap: 20px;
  flex-wrap: wrap;
  width: 265px;
  height: 100%;
  border-left: 2px solid lightgray;
  padding: 0px 25px;
}

.__post-author {
  display: grid;
  grid-template-columns: auto 1fr;
  gap: 15px;
  align-items: center;
  
}

.__post-author-image {
  height: 50px;
  width: 50px;
  border-radius: 50%;
  background-color: lightgray;
}


