<navbar></navbar>

<basic_hero image_src="{{ hero.backgroundImg }}" theme="{{ hero.theme }}">
  <slot for="title">{{{ hero.title }}}</slot>
  <slot for="subtitle"> {{{ hero.subtitle }}} </slot>
</basic_hero>

<!-- CONTENT SECTION -->
<div class="page-container">
  <div class="__about-layout">
    <!-- CONTENT -->
    <div class="__about-content-layout">
      <!-- DATA-POINTS -->
      {{#each sections}}
      <div style="max-width: 600px">
        <h2 class="title c-primary">{{ this.title }}</h2>
        <p
          class="text bld c-primary"
          style="line-height: 25px; font-size: 1.35em"
        >
          {{ this.content }}
        </p>
      </div>
      {{/each}}

      <a href="{{action_button.link}}" class="btn btn-primary m-auto"
        >{{ action_button.text }}</a
      >
      <span></span>
    </div>
    <!-- LINKS -->
    <div class="__about-links c-secondary bg-primary clip-diagonal-ltr-85">
      <h3 class="title cntr">{{ linksTitle }}</h3>
      {{#each links}}
      <div class="__about-links-item">
        <i class="{{ this.icon }}"></i>
        <a href="{{ this.url }}" class="text c-secondary">{{{ this.name }}}</a>
      </div>
      {{/each}}
      <span></span>
    </div>
  </div>
</div>

<footer></footer>
