<div class="__contact-layout page-container">
  <!-- HEADER -->
  <div>
    <h2 class="title c-primary">{{{ title }}}</h2>
    <p class="subtitle c-primary" style="max-width: 500px">{{{ subtitle }}}</p>
  </div>
  <!-- CONTENT -->
  <div class="for-desktop">
    <div class="__contact-sections">
      <!-- MANISES -->
      <div class="__contact-section_MANISES">
        <!-- MAP IMAGE -->
        <div
          class="__contact-section-map_MANISES"
          style="
            background-image: url('./assets/img/mapa-1.png');
            background-position: center;
            background-size: cover;
          "
        ></div>
        <!-- DIVIDER -->
        <div class="__contact-section-divider_MANISES bg-primary"></div>
        <!-- INFO -->
        <div class="__contact-section-content_MANISES bg-primary">
          <h3 class="title cntr c-secondary">{{{ manises.title }}}</h3>
          <div class="__contact-section-items_MANISES">
            {{#each manises.content}}
            <div class="__contact-section-item_MANISES">
              <i class="c-secondary {{ this.icon }}"></i>
              <a
                href="{{this.content.link}}"
                target="_blank"
                class="text c-secondary undrln"
                >{{{ this.content.text }}}</a
              >
            </div>
            {{/each}}
          </div>
        </div>
      </div>
      <!-- ALBAIDA -->
      <div class="__contact-section_ALBAIDA">
        <div class="__contact-section-content_ALBAIDA bg-accent">
          <h3 class="c-primary title cntr">{{{ albaida.title }}}</h3>
          <div class="__contact-section-items_ALBAIDA">
            {{#each albaida.content}}
            <div class="__contact-section-item_ALBAIDA">
              <i class="c-primary {{ this.icon }}"></i>
              <a
                href="{{this.content.link}}"
                target="_blank"
                style="max-width: 220px"
                class="c-primary text undrln"
                >{{{ this.content.text }}}</a
              >
            </div>
            {{/each}}
          </div>
        </div>
        <div class="__contact-section-divider_ALBAIDA bg-accent"></div>
        <div
          class="__contact-section-map_ALBAIDA"
          style="
            background-image: url('./assets/img/mapa-2.png');
            background-position: center;
            background-size: cover;
          "
        ></div>
      </div>
    </div>
  </div>
  <div class="for-mobile">
    <div class="__contact-sections" style="gap: 40px">
      <!-- INFO -->
      <div class="p-relative" style="box-shadow: 0px 4px 20px -9px #0f0f0f">
        <div
          class="image as-layer"
          style="background-image: url('/assets/img/mapa-1.png')"
        ></div>
        <div class="bg-primary as-layer" style="opacity: 0.7"></div>
        <div class="p-relative" style="padding: 30px">
          <h3 class="title cntr c-secondary">{{{ manises.title }}}</h3>
          <div class="__contact-section-items_MANISES">
            {{#each manises.content}}
            <div class="__contact-section-item_MANISES">
              <i class="c-secondary {{ this.icon }}"></i>
              <a
                href="{{this.content.link}}"
                target="_blank"
                class="text c-secondary undrln"
                >{{{ this.content.text }}}</a
              >
            </div>
            {{/each}}
          </div>
        </div>
      </div>
      <div class="p-relative" style="box-shadow: 0px 4px 20px -9px #0f0f0f">
        <div
          class="image as-layer"
          style="background-image: url('/assets/img/mapa-2.png')"
        ></div>
        <div class="bg-accent as-layer" style="opacity: 0.7"></div>
        <div class="p-relative" style="padding: 30px">
          <h3 class="title cntr c-primary">{{{ albaida.title }}}</h3>
          <div class="__contact-section-items_MANISES">
            {{#each albaida.content}}
            <div class="__contact-section-item_MANISES">
              <i class="c-primary {{ this.icon }}"></i>
              <a
                href="{{this.content.link}}"
                target="_blank"
                class="text c-primary undrln"
                >{{{ this.content.text }}}</a
              >
            </div>
            {{/each}}
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
