.__contact-layout {
  display: flex;
  flex-direction: column;
  gap: 70px;
}

.__contact-sections {
  display: grid;
  gap: 70px
}

/* ------------------------------- */
/* MANISES */
/* ------------------------------- */
.__contact-section_MANISES {
  display: grid;
  grid-template-columns: 1fr 0px 0.8fr;
  align-items: center;
}

.__contact-section-divider_MANISES {
  position: relative;
  left: 40px;
  height: 90%;
  width: 60px;
  transform: rotate(5deg);
  z-index: 1;
  box-shadow: -19px 0 16px -12px #0000008c;
}

.__contact-section-content_MANISES {
  padding: 40px;
  padding-left: 90px;
  width: 400px;
}

.__contact-section-map_MANISES {
  transition: 0.4s ease;
  position: relative;
  height: 80%;
  border-radius: 3px;
  left: 60px;
  cursor: pointer;
  box-shadow: 0px 0px 15px 0px rgba(0, 0, 0, 0.198);
}

.__contact-section-map_MANISES:hover {
  left: -20px;
}

.__contact-section-items_MANISES {
  margin-top: 20px;
  display: grid;
  gap: 20px;
  font-size: 0.9em;
}

.__contact-section-item_MANISES {
  display: grid;
  grid-template-columns: 40px auto;
  align-items: center;
}

.__contact-section-item_MANISES > i {
  font-size: 1.2em;
  justify-self: center;
}

/* ------------------------------- */
/* ALBAIDA */
/* ------------------------------- */
.__contact-section_ALBAIDA {
  display: grid;
  grid-template-columns: 0.8fr 0px 1fr;
  align-items: center;
}

.__contact-section-divider_ALBAIDA {
  position: relative;
  left: -110px;
  height: 90%;
  width: 60px;
  transform: rotate(-5deg);
  z-index: 1;
  box-shadow: 19px 0 16px -12px #0000008c;
}

.__contact-section-content_ALBAIDA {
  padding: 40px;
  padding-left: 30px;
}

.__contact-section-map_ALBAIDA {
  transition: 0.4s ease;
  position: relative;
  height: 80%;
  border-radius: 3px;
  left: -90px;
  cursor: pointer;
  box-shadow: 0px 0px 15px 0px rgba(0, 0, 0, 0.198);
}

.__contact-section-map_ALBAIDA:hover {
  left: 20px;
}

.__contact-section-items_ALBAIDA {
  margin-top: 20px;
  display: grid;
  gap: 20px;
  font-size: 0.9em;
  min-width: 380px;
}

.__contact-section-item_ALBAIDA {
  display: grid;
  grid-template-columns: 40px auto;
  align-items: center;
}

.__contact-section-item_ALBAIDA > i {
  font-size: 1.2em;
  justify-self: center;
}
