<div class="page-container __projects-wrapper">
  <!-- CONTENT FOR DESKTOP -->
  <div class="for-desktop">
    <div class="__projects-layout">
      <!-- PROJECTS -->
      <div class="__projects-container">
        {{#each projects}}
        <a href="{{this.link}}" target="_blank">
          <div class="__projects-card">
            <!-- CARD IMAGE -->
            <div
              class="image as-layer"
              style="background-image: url('{{ this.image }}');{{this.imageStyle}}"
            ></div>
            <!-- CARD FILTER -->
            <div class="bg-primary as-layer" style="opacity: 0.7"></div>

            <!-- CARD CONTENT -->
            <div class="as-layer" style="padding: 40px;{{this.style}}">
              <h3 class="title c-secondary">{{{ this.title }}}</h3>
              <p class="subtitle c-secondary mt-10">{{{ this.description }}}</p>
            </div>
          </div>
        </a>
        {{/each}}
      </div>
      <!-- DIVIDER -->
      <div class="__projects-shadow-wrapper">
        <div class="__projects-shadow-divider"></div>
      </div>
      <!-- HEADER -->
      <div class="__projects-header-container">
        <h2 class="title rght c-primary">{{{ title }}}</h2>
        <p class="subtitle rght c-primary" style="max-width: 400px">
          {{{ subtitle }}}
        </p>
        <a href="{{action_button.link}}" class="btn btn-accent mt-40"
          >{{{ action_button.text }}}</a
        >
      </div>
    </div>
  </div>

  <!-- CONTENT FOR MOBILE-->
  <div class="for-mobile">
    <!-- HEADER -->
    <div class="__projects-header-container">
      <h2 class="title rght c-primary">{{{ title }}}</h2>
      <p class="subtitle rght c-primary" style="max-width: 400px">
        {{{ subtitle }}}
      </p>
      <a href="{{action_button.link}}" class="btn btn-accent mt-40"
        >{{{ action_button.text }}}</a
      >
    </div>

    <!-- PROJECTS -->
    <div style="display: grid; grid-template-columns: minmax(30px, auto) 1fr">
      <!-- DIVIDER -->
      <div class="__projects-shadow-wrapper">
        <div
          class="__projects-shadow-divider"
          style="
            box-shadow: 19px 0 16px -12px #0000008c;
            z-index: 1;
            left: -5px;
            transform: rotate(-5deg);
          "
        ></div>
      </div>

      <div class="__projects-container">
        {{#each projects}}
        <a href="{{this.link}}" target="_blank">
          <div class="__projects-card">
            <!-- CARD IMAGE -->
            <div
              class="image as-layer"
              style="background-image: url('{{ this.image }}')"
            ></div>
            <!-- CARD FILTER -->
            <div class="bg-primary as-layer" style="opacity: 0.7"></div>

            <!-- CARD CONTENT -->
            <div class="as-layer" style="padding: 40px">
              <h3 class="title c-secondary">{{{ this.title }}}</h3>
              <p class="subtitle c-secondary mt-10">{{{ this.description }}}</p>
            </div>
          </div>
        </a>
        {{/each}}
      </div>
    </div>
  </div>

  <!-- PARTNERS -->
  <div class="__projects-partners">
    {{#each partners}}
    <a href="{{this.partnerWebsite}}" target="_blank" rel="noopener noreferrer">
      <div
        class="__projects-partners-item"
        style="background-image: url('{{ this.partnerLogo }}'); background-color: {{this.bgColor}}"
      ></div>
    </a>
    {{/each}}
  </div>
</div>
