/* -------------------
LAYOUT
------------------- */
.__projects-wrapper {
  display: grid;
  gap: 80px;
}

@media (max-width:680px)  {
  .__projects-wrapper {
    padding: 20px !important;
  }

  .__projects-header-container {
    padding: 30px 10px !important;
    padding-top: 0px !important;
  }
}

.__projects-wrapper {
  display: grid;
  gap: 80px;
  padding: 10px;
}

.for-desktop *.__projects-layout {
  display: grid;
  grid-template-columns: 1fr auto minmax(auto, 450px);
  margin: auto;
}

.for-mobile *.__projects-layout {
  display: grid;
  gap: 20px;
  margin: auto;
}

/* -------------------
SHADOW DIVIDER
------------------- */
.__projects-shadow-wrapper {
  width: 0px;
  height: 0px;
}

.__projects-shadow-divider {
  position: relative;
  top: -30px;
  left: -15px;
  width: 50px;
  height: 370px;
  background-color: #fff;
  box-shadow: -19px 0 16px -12px #0000008c;
  transform: rotate(5deg);
  z-index: 0;
}

/* -------------------
HEADER CONTAINER
------------------- */
.__projects-header-container {
  display: flex;
  flex-direction: column;
  align-items: end;
}

/* -------------------
PROJECT CONTAINER
------------------- */
.__projects-container {
  display: flex;
  gap: 40px;
  flex-wrap: nowrap;
  overflow: auto;
}

.__projects-card {
  position: relative;
  flex-shrink: 0;
  flex-grow: 0;
  width: 400px;
  height: 300px;
  z-index: 0;
}


.__projects-partners {
  display: flex;
  max-width: 650px;
  width: 100%;
  /*overflow: auto;*/
  flex-wrap: wrap;
  margin: auto;
  justify-content: center;
  gap: 20px;
}

.__projects-partners-item {
  width: 90px;
  height: 45px;
  padding: 5px;
  flex-shrink: 0;
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
  border-radius: 4px;
  /*opacity: 0.65;*/
}

@media (max-width:680px)  {
  .__projects-partners {
    gap: 10px;
  }

  .__projects-partners-item {
    width: 70px;
    height: 50px;
  }
}

