* {
  box-sizing: border-box;
}

body {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  overflow-x: hidden;
}

.full-screen {
  width: 100%;
  height: 100%;
}



/*@media (min-width:320px)  { }*/
/* @media (min-width:641px)  {   }*/

/* PHONE */
@media (max-width:1100px)  {
  .for-mobile {
    display: inline;
  }


  .for-desktop {
    display: none;
  }
}

/* DESKTOP */
@media (min-width:1101px) {
  .for-mobile {
    display: none;
  }


  .for-desktop {
    display: inline;
  }
}


/*
-------------------------------
TOOLING CSS
-------------------------------
*/
.p-absolute {
  position: absolute;
}

.p-relative {
  position: relative;
}

.ellipsis-1 {
  display: -webkit-box;
  max-width: 100%;
  -webkit-line-clamp: 1;
  -webkit-box-orient: vertical;
  overflow: hidden;
}

.ellipsis-2 {
  display: -webkit-box;
  max-width: 100%;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  overflow: hidden;
}

.ellipsis-3 {
  display: -webkit-box;
  max-width: 100%;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
  overflow: hidden;
}

.ellipsis-4 {
  display: -webkit-box;
  max-width: 100%;
  -webkit-line-clamp: 4;
  -webkit-box-orient: vertical;
  overflow: hidden;
}


.as-layer {
  position: absolute;
  height: 100%;
  width: 100%;
}

.image {
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}

.img-contain {
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
}

.m-auto {
  margin: auto;
}

.undrln {
  text-decoration: underline;
}

.txt-algn-c {
  text-align: center;
}

.rght {
  text-align: right;
}

.cntr {
  text-align: center;
}

.uppr {
  text-transform: uppercase;
}

.lwr {
  text-transform: lowercase;
}

.bld {
  font-weight: bold;
}

/* --------------------
MARGIN TOP 5px - 50px
---------------------- */
.mt-5 {
  margin-top: 5px;
}

.mt-10 {
  margin-top: 10px;
}

.mt-15 {
  margin-top: 15px;
}

.mt-20 {
  margin-top: 20px;
}

.mt-25 {
  margin-top: 25px;
}

.mt-30 {
  margin-top: 30px;
}

.mt-35 {
  margin-top: 35px;
}

.mt-40 {
  margin-top: 40px;
}

.mt-45 {
  margin-top: 45px;
}

.mt-50 {
  margin-top: 50px;
}

/* --------------------
MARGIN BOTTOM 5px - 50px
---------------------- */
.mb-5 {
  margin-bottom: 5px;
}

.mb-10 {
  margin-bottom: 10px;
}

.mb-15 {
  margin-bottom: 15px;
}

.mb-20 {
  margin-bottom: 20px;
}

.mb-25 {
  margin-bottom: 25px;
}

.mb-30 {
  margin-bottom: 30px;
}

.mb-35 {
  margin-bottom: 35px;
}

.mb-40 {
  margin-bottom: 40px;
}

.mb-45 {
  margin-bottom: 45px;
}

.mb-50 {
  margin-bottom: 50px;
}

/* --------------------
MARGIN RIGHT 5px - 50px
---------------------- */
.mr-5 {
  margin-right: 5px;
}

.mr-10 {
  margin-right: 10px;
}

.mr-15 {
  margin-right: 15px;
}

.mr-20 {
  margin-right: 20px;
}

.mr-25 {
  margin-right: 25px;
}

.mr-30 {
  margin-right: 30px;
}

.mr-35 {
  margin-right: 35px;
}

.mr-40 {
  margin-right: 40px;
}

.mr-45 {
  margin-right: 45px;
}

.mr-50 {
  margin-right: 50px;
}

/* --------------------
MARGIN LEFT 5px - 50px
---------------------- */
.ml-5 {
  margin-left: 5px;
}

.ml-10 {
  margin-left: 10px;
}

.ml-15 {
  margin-left: 15px;
}

.ml-20 {
  margin-left: 20px;
}

.ml-25 {
  margin-left: 25px;
}

.ml-30 {
  margin-left: 30px;
}

.ml-35 {
  margin-left: 35px;
}

.ml-40 {
  margin-left: 40px;
}

.ml-45 {
  margin-left: 45px;
}

.ml-50 {
  margin-left: 50px;
}
/* --------------------
MARGIN RIGHT
---------------------- */
.my-15 {
  margin-top: 15px;
  margin-bottom: 15px;
}

.my-30 {
  margin-top: 30px;
  margin-bottom: 30px;
}

.my-45 {
  margin-top: 45px;
  margin-bottom: 45px;
}

.my-60 {
  margin-top: 60px;
  margin-bottom: 60px;
}

/* --------------------
MARGIN RIGHT
---------------------- */
.mx-5 {
  margin-left: 5px;
  margin-right: 5px;
}

.mx-10 {
  margin-left: 10px;
  margin-right: 10px;
}

.mx-15 {
  margin-left: 15px;
  margin-right: 15px;
}

.mx-30 {
  margin-left: 15px;
  margin-right: 15px;
}
