<!-- MENU NAVBAR -->
<navbar></navbar>

<!-- HERO SECTION -->
<span id="{{section.home.anchor}}"></span>
<div class="full-screen">
  <home_hero></home_hero>
</div>

<div class="__index-layout">
  <!-- empty slot for add gap -->

  <!-- GUARANTEES SECTION -->
  <span id="{{section.guarantees.anchor}}"></span>
  <home_guarantees></home_guarantees>

  <!-- ACCREDITATION SECTION -->
  <span id="{{section.accrd.anchor}}"></span>
  <home_accrd></home_accrd>

  <!-- SERVICES SECTION -->
  <span id="{{section.services.anchor}}"></span>
  <home_services></home_services>

  <!-- WORKS SECTION -->
  <span id="{{section.works.anchor}}"></span>
  <home_works></home_works>

  <!-- FACILITIES SECTION -->
  <span id="{{section.facilities.anchor}}"></span>
  <home_facilities></home_facilities>

  <!-- BLOG SECTION -->
  <home_blog></home_blog>

  <!-- CONTACT SECTION -->
  <span id="{{section.contact.anchor}}"></span>
  <home_contact></home_contact>

  <!-- FOOTER -->
  <footer></footer>
</div>
