<navbar></navbar>

<basic_hero image_src="{{ hero.backgroundImg }}" theme="{{ hero.theme }}">
  <slot for="title">{{{ hero.title }}}</slot>
  <slot for="subtitle"> {{{ hero.subtitle }}} </slot>
</basic_hero>

<!-- CONTENT SECTION -->
<div class="page-container">
  <div class="__service-layout">
    <!-- CONTENT -->
    <div class="__service-content-layout">
      <!-- HEADER -->
      <div style="max-width: 600px">
        <h2 class="title c-primary">{{ header.title }}</h2>
        <p class="text bld c-primary">{{ header.subtitle }}</p>
        {{#if header.list}}
        <p class="text bld c-primary my-15">{{ header.list.title }}</p>
        <ul class="__service-point-list">
          {{#each header.list.points}}
          <li>
            <p class="text bld c-primary">{{ this }}</p>
          </li>
          {{/each}}
        </ul>
        {{/if}}
      </div>
      <!-- DATA-POINTS -->
      {{#each dataPoints}}
      <data_point
        icon="{{ this.icon }}"
        title="{{ this.title }}"
        description="{{ this.description }}"
        list="{{ this.list }}"
      ></data_point>
      {{/each}}

      <a href="{{action_button.link}}" class="btn btn-primary m-auto"
        >{{ action_button.text }}</a
      >
      <span></span>
    </div>
    <!-- LINKS -->
    <div class="__service-links c-secondary bg-primary clip-diagonal-ltr-85">
      <h3 class="title cntr">{{ linksTitle }}</h3>
      {{#each links}}
      <div class="__service-links-item">
        <i class="{{ this.icon }}"></i>
        <a href="{{ this.url }}" class="text c-secondary">{{{ this.name }}}</a>
      </div>
      {{/each}}
      <span></span>
    </div>
  </div>
</div>

<footer></footer>
