.__service-layout {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  gap: 40px;
  margin: 60px 0px;
}

.__service-content-layout {
  display: grid;
  gap: 80px;
}

@media screen and (max-width: 600px) {
  .__service-layout {
    margin: 30px 0px;
  }

  .__service-content-layout {
    gap: 40px;
  } 
}

.__service-links {
  padding: 30px;
  position: sticky;
  top: 80px;
  display: grid;
  gap: 20px;
  height: 100%;
}

@media screen and (max-width: 600px) {
  .__service-links {
    width: 100%;
  }
}

.__service-links-item {
  display: grid;
  grid-template-columns: 30px 1fr;
  gap: 5px;
}

.__service-links-item > i {
  justify-self: center;
  
}

.__service-links-item > a {
  text-decoration: underline;
}

.__service-point-list > li {
  list-style: disc;
  margin-left: 25px;
  margin-top: 10px;
}