
.__data-point-layout {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
}

.__data-point-icon {
  display: grid;
  grid-template-rows: 1fr auto;
  justify-items: center;
  align-items: center;
  width: 70px;
  height: 70px;
}

.__data-point-icon > i {
  font-size: 2em;
}

.__data-point-content {
  max-width: 400px;
}

.__data-point-list > li {
  list-style: disc;
  margin-left: 25px;
  margin-top: 10px;
}

@media (max-width:680px)  {
  .__data-point-icon {
    width: 50px;
    height: 50px;
  }

  .__data-point-icon > i {
    font-size: 1.5em;
  }

  .__data-point-content {
    max-width: 280px;
  }
}