<div class="__data-point-layout">
  <!-- ICON -->
  <div class="__data-point-icon bg-accent">
    <i class="{{ icon }} c-primary"></i>
  </div>
  <!-- CONTENT -->
  <div class="__data-point-content">
    <!-- TITLE -->
    <h3 class="title c-primary mb-5">{{{ title }}}</h3>
    <!-- DESCRIPTION -->
    {{#if description}}
    <p class="text c-primary">{{{ description }}}</p>
    {{/if}}
    <!-- LIST -->
    {{#if list}}
    <ul class="__data-point-list mt-20">
      {{#each list}}
      <li>
        <p class="c-primary text">{{{ this }}}</p>
      </li>
      {{/each}}
    </ul>
    {{/if}}
  </div>
</div>
